* {
    box-sizing: border-box; 
   }
   body {
     margin: 0;
   }

.banner {
  display: block;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 3vw;
  position: relative;
  left: 11vw;
  width: 50vw;
}


.row  {
  display: flex;

}

.listinline  {
  display: flex;
  justify-content: space-evenly;
}

nav {
  position: sticky;
  top: 0.1px;
}


.row01  {
  display: flex;
  background-color: black;
  position: sticky;
  top: 20px;
}

.column.side {
  flex: 1;
}

.column.middle {
  flex: 6;
  height: 1200px;
}

.row> .middle> p {
  margin-top: 60px;
  }

.banner01, .banner02, .cards {
margin-top: 60px;
padding: 20px;
background-color:darkgoldenrod;
height: 400px;
display: block;
}

.image01
{
  max-width:auto;
  max-height:100%;
  float: right;
  padding: 2vw;
}

.sidenav {
  flex: 1;
}

.listinline {
  flex: 6;
  right: 40px; 
  justify-content: space-evenly;
}

#row01 {
  overflow: hidden;
  background-color: #333;

}

.listinline > li {
  display: inline-block;
  color: rgb(196, 196, 196);
  padding: 14px 16px;
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  height: inherit;
}

.card {
 flex: 0 0 15%;
 margin: 0.4em;
 box-sizing: border-box;
 background: white;
 margin-bottom: 2em;	
}

.thumbnail {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

.card-content {
	padding: 1.4em;
}

